<%- include('../../views/partials/user/header') %>
<%- include('../../views/partials/user/profile-sidebar') %>
<style>
  .main-content {
    background-color: rgb(230, 244, 230);
    margin-left: 16.4%;
    padding: 40px 30px;
    margin-top: 0px;
    border-radius: 8px;
  }
  div.bread-crumb.flex-w.p-l-25.p-r-15.p-t-30.p-lr-0-lg{
    margin-bottom: 20px;
  }
  img.img-fluid.rounded-start{
    max-width: 60%;
  }
  div.container-fluid.main-content.bg-light.p-4{
    width: 83%;
  }
  div.col-lg-8.col-md-10{
    width: 90%;
  }
    @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
      padding: 20px;
    }
  }
</style>
<div class="container-fluid main-content bg-light p-4">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg" style="margin-left: 10%;">
    <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      My Orders
    </span>
  </div>
  <% orderDetails.forEach(order => { %>
    <div class="row justify-content-left ml-5">
      <div class="col-lg-8 col-md-10">
        <div class="card shadow-sm">
          <div class="row g-0">
            <!-- Product image -->
            <div class="col-md-4">
              <img src="/uploads/product-images/<%= order.productDetails.productImage[0] %>" class="img-fluid rounded-start" alt="Product Image">
            </div>
            <!-- Product details -->
            <div class="col-md-8">
              <div class="card-body" style="margin-left: -10%;">
                <h5 class="card-title"><%= order.productDetails.productName %></h5>
                <p class="card-text"><strong>Description : </strong> <%= order.productDetails.description %></p>
                <p class="card-text"><strong>Size : </strong> <%= order.orderItems.size %></p>
                <p class="card-text"><strong>Quantity : </strong> <%= order.orderItems.quantity %></p>
                <p class="card-text"><strong>Color :</strong> <%= order.productDetails.color %></p>
                <p class="card-text text-success"><strong>Price:</strong> &#8377;<%= order.orderItems.price %></p>
                <p class="card-text text-success"><strong>Total Price:</strong> &#8377;<%= order.orderItems.totalPrice %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }); %>

  <!-- Order Summary -->
  <div class="row justify-content-left ml-5 mt-4">
    <div class="col-lg-8 col-md-10">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5>Order Summary</h5>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Order ID:</strong> <%= orderDetails[0].orderId %></p>
          <p class="card-text"><strong>Status :</strong> <span class="text-primary fw-bolder"><%= orderDetails[0].status %></span></p>
          <p class="card-text"><strong>Payment Method :</strong> <span class="fw-bolder"><%= orderDetails[0].paymentMethod %></span></p>
          <p class="card-text"><strong>Total Amount To Pay (Including Discount and Tax):</strong> &#8377;<%= orderDetails[0].finalAmount %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-left ml-5 mt-4">
    <div class="col-lg-8 col-md-10">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5>Shipping Address</h5>
        </div>
        <div class="card-body">
          <% if (addressDetails.length > 0) { %>
            <% addressDetails.forEach(address => { %>
              <ul class="list-group">
                <li class="list-group-item"><strong>Type&nbsp;:&nbsp;</strong> <%= address.address.addressType %></li>
                <li class="list-group-item"><strong>Name&nbsp;:&nbsp;</strong> <%= address.address.name %></li>
                <li class="list-group-item"><strong>City&nbsp;:&nbsp;</strong> <%= address.address.city %></li>
                <li class="list-group-item"><strong>Landmark&nbsp;:&nbsp;</strong> <%= address.address.landMark %></li>
                <li class="list-group-item"><strong>State&nbsp;:&nbsp;</strong> <%= address.address.state %></li>
                <li class="list-group-item"><strong>Pincode&nbsp;:&nbsp;</strong> <%= address.address.pincode %></li>
                <li class="list-group-item"><strong>Phone&nbsp;:&nbsp;</strong> <%= address.address.phone %></li>
                <li class="list-group-item"><strong>Alternate Phone&nbsp;:&nbsp;</strong> <%= address.address.altPhone %></li>
              </ul>
            <% }); %>
          <% } else { %>
            <p class="text-danger">No address information available.</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% if (orderDetails[0].status === 'Delivered'){ %>
  <div class="row justify-content-left ml-5 mt-4">
    <div class="col-lg-8 col-md-10 text-center">
        <a href="/download-invoice/<%= orderDetails[0].orderId %>" class="btn btn-success">Download Invoice as PDF</a>
    </div>
</div>
<% } %>


  <div class="row justify-content-left ml-5 mt-4">
    <div class="col-lg-8 col-md-10 text-center">
      <!-- Back button -->
      <a href="/orderHistory" class="btn btn-primary">Back to Orders</a>
    </div>
  </div>
</div>

<%- include('../../views/partials/user/footer') %>

