<%-include('../../views/partials/user/header')%>

<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Shop
		</span>
	</div>
</div>

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					data-filter="*">
					<a href="/shop">All</a>
				</button>
				<% for (let i = 0; i < category.length; i++) { %>
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 <%= selectedCategories.includes(category[i]._id.toString()) ? 'how-active1' : '' %>"
						data-filter="*">
						<a href="#" onclick="toggleFilter('categories', '<%= category[i]._id %>')">
							<%= category[i].name %>
						</a>
					</button>
				<% } %>
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form action="/search" method="POST" class="search-form">
					<div class="bor8 dis-flex p-l-15">
						<button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="search-input mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="query"
							placeholder="Search for products..." value="<%= searchQuery || '' %>" required>
						<!-- Pass all current filter parameters -->
						<input type="hidden" name="categories" value="<%= selectedCategories.join(',') %>">
						<input type="hidden" name="sort" value="<%= currentSort || '' %>">
						<input type="hidden" name="colors" value="<%= selectedColors.join(',') %>">
						<input type="hidden" name="price" value="<%= selectedPriceRange || '' %>">
					</div>
				</form>
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>
						<ul>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('sort', '')"
									class="filter-link stext-106 trans-04 <%= !currentSort ? 'filter-link-active' : '' %>">
									Default
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('sort', 'price_asc')"
									class="filter-link stext-106 trans-04 <%= currentSort === 'price_asc' ? 'filter-link-active' : '' %>">
									Price: Low to High
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('sort', 'price_desc')"
									class="filter-link stext-106 trans-04 <%= currentSort === 'price_desc' ? 'filter-link-active' : '' %>">
									Price: High to Low
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('sort', 'name_asc')"
									class="filter-link stext-106 trans-04 <%= currentSort === 'name_asc' ? 'filter-link-active' : '' %>">
									Name: A to Z
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('sort', 'name_desc')"
									class="filter-link stext-106 trans-04 <%= currentSort === 'name_desc' ? 'filter-link-active' : '' %>">
									Name: Z to A
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>
						<ul>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('price', '')"
									class="filter-link stext-106 trans-04 <%= !selectedPriceRange ? 'filter-link-active' : '' %>">
									All
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('price', '0-500')"
									class="filter-link stext-106 trans-04 <%= selectedPriceRange === '0-500' ? 'filter-link-active' : '' %>">
									&#8377; 0.00 - &#8377; 500.00
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('price', '500-1000')"
									class="filter-link stext-106 trans-04 <%= selectedPriceRange === '500-1000' ? 'filter-link-active' : '' %>">
									&#8377; 500.00 - &#8377; 1000.00
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('price', '1000-1500')"
									class="filter-link stext-106 trans-04 <%= selectedPriceRange === '1000-1500' ? 'filter-link-active' : '' %>">
									&#8377; 1000.00 - &#8377; 1500.00
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('price', '1500-2000')"
									class="filter-link stext-106 trans-04 <%= selectedPriceRange === '1500-2000' ? 'filter-link-active' : '' %>">
									&#8377; 1500.00 - &#8377; 2000.00
								</a>
							</li>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('price', '2000-1000000')"
									class="filter-link stext-106 trans-04 <%= selectedPriceRange === '2000-1000000' ? 'filter-link-active' : '' %>">
									&#8377; 2000.00+
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col3 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Color
						</div>
						<ul>
							<li class="p-b-6">
								<a href="#" onclick="toggleFilter('colors', '')"
									class="filter-link stext-106 trans-04 <%= selectedColors.length === 0 ? 'filter-link-active' : '' %>">
									All
								</a>
							</li>
							<% colors.forEach(color => { %>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: <%= color %>;">
										<i class="zmdi zmdi-circle"></i>
									</span>
									<a href="#" onclick="toggleFilter('colors', '<%= color %>')"
										class="filter-link stext-106 trans-04 <%= selectedColors.includes(color) ? 'filter-link-active' : '' %>">
										<%= color %>
									</a>
								</li>
							<% }); %>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row isotope-grid">
			<% for(let i = 0 ; i < products.length ; i++) { %>
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
				
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<a href="productDetails?id=<%= products[i]._id %>"><img src="/uploads/product-images/<%= products[i].productImage[0] %>" alt="<%= products[i].productName %>"></a>

						<a href="#" onclick="event.preventDefault(); window.location.href='productDetails?id=<%= products[i]._id %>';"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							Quick View
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="productDetails?id=<%= products[i]._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								<%= products[i].productName %>
							</a>

							<span class="stext-105 cl3">
								price:&#8377;<%= products[i].salePrice.toLocaleString('en-IN') %> &nbsp;&nbsp;&nbsp;<strike>   &#8377;<%= products[i].regularPrice.toLocaleString('en-IN') %></strike>
							</span>
							<%let totalQuantity = products[i].stock.reduce((total, item) => total + item.quantity, 0) %>
							<% if(totalQuantity > 0) { %>
								<span class="stext-105 cl3 text-success">
									<%= totalQuantity %> in stock
								</span>
							<% } else { %> 
								<span class="stext-105 cl3 text-danger">
									Out of stock
								</span>
								<% } %>
						
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							
							<a href="#" class="btn-addwish-b2 dis-block pos-relative" onclick="addToWishlist('<%= products[i]._id %>')">
								<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
							</a>
							
						</div>
						
					</div>
				</div>
				
			</div>
			<% } %>
		</div>

		<!-- Load more -->
		<div class="flex-c-m flex-w w-full p-t-45">
			<%-include('../../views/partials/admin/pagination')%>
		</div>
	</div>
</div>

<%-include('../../views/partials/user/footer')%>
<script>
	// Function to toggle filter parameters
	function toggleFilter(filterType, filterValue) {
		const searchParams = new URLSearchParams(window.location.search);
		
		// Handle categories filter
		if (filterType === 'categories') {
			let categories = searchParams.get('categories') ? searchParams.get('categories').split(',') : [];
			if (categories.includes(filterValue)) {
				categories = categories.filter(category => category !== filterValue);
			} else {
				categories.push(filterValue);
			}
			if (categories.length > 0) {
				searchParams.set('categories', categories.join(','));
			} else {
				searchParams.delete('categories');
			}
		}

		// Handle sort filter
		if (filterType === 'sort') {
			if (searchParams.get('sort') === filterValue) {
				searchParams.delete('sort');
			} else {
				searchParams.set('sort', filterValue);
			}
		}

		// Handle colors filter
		if (filterType === 'colors') {
			let colors = searchParams.get('colors') ? searchParams.get('colors').split(',') : [];
			if (colors.includes(filterValue)) {
				colors = colors.filter(color => color !== filterValue);
			} else {
				colors.push(filterValue);
			}
			if (colors.length > 0) {
				searchParams.set('colors', colors.join(','));
			} else {
				searchParams.delete('colors');
			}
		}

		// Handle price filter
		if (filterType === 'price') {
			if (searchParams.get('price') === filterValue) {
				searchParams.delete('price');
			} else {
				searchParams.set('price', filterValue);
			}
		}

		// Update the URL without reloading the page
		const newUrl = `${window.location.pathname}?${searchParams.toString()}`;
		window.history.pushState({ path: newUrl }, '', newUrl);

		// Reload the page
		window.location.reload();
	}

	async function addToWishlist(productId) {
		try {
			console.log('productId', productId);
			const response = await fetch("/addToWishlist", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({ productId: productId }) // Send the productId in the body as a JSON string
			});

			const data = await response.json(); // Parse the JSON response
			console.log('data', data);
			if (data.status) {
				Swal.fire({
					title: "Added to Wishlist",
					text: data.message,
					icon: "success",
					timer: 2000,
					showConfirmButton: false
				});
			} else {
				Swal.fire({
					title: "Error",
					text: data.message,
					icon: "info",
					timer: 2000,
					showConfirmButton: false
				});
			}
		} catch (error) {
			Swal.fire({
				title: "Error",
				text: "Please login to add to wishlist",
				icon: "error",
				timer: 2000,
				showConfirmButton: false
			});
			console.error("Error in adding to wishlist:", error); // Log the error for debugging
		}
	}
</script>